
*.DS_Store
Exercises/github-com-iloudaros.png
*.mti
*.mpf
*.vstf
*.wlf
Exercises/5/work/_info
*.dat
*.vhd
*.asm
*.out1
Exercises/5/delay/counter_delay_tb.v
*.lst
*.xmsgs
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xise
*.xpi
*.xst
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.xml
*.log
*.bin
*.ref
*.projectmgr
*.xreport
*.xbcd
*.html

*.didat
*.obj
*.c
Exercises/7/OneHertz/isim/testOneHertz_isim_beh.exe.sim/tmp_save/_1
*.exe
*.cmd
*.dbg
*.sdb
*.wdb
*.icloud
