net clk loc=t9;
net reset loc=k4;
net ps2clk loc=b16;
net ps2data loc=e13;

net RGB_out<8> loc=B1;
net RGB_out<7> loc=D6;
net RGB_out<6> loc=C8;
net RGB_out<5> loc=C3;
net RGB_out<4> loc=A5;
net RGB_out<3> loc=A8;
net RGB_out<2> loc=D5;
net RGB_out<1> loc=E7;
net RGB_out<0> loc=C9;

net HSYNC loc=B7;
net VSYNC loc=D8;

net Servo_PWM loc=M3;